@{ 
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home";
}
<div class="wrapper admin_home">
    <div class="pagename">Home</div>
    <div class="welcome">Welcome to Shop Admin. This is the default Home page.</div>
</div>
