<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/script.js"></script>
    <title>@ViewData["Title"] Shop</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header_contacts">
                <a href="tel:78000000000" class="header_contacts__item">+7(800)000-00-00</a>
                <a href="mailto:lorem@example.com" class="header_contacts__item">lorem@example.com</a>
            </div>
            <a href="/"><div class="logo">Магазинчик</div></a>
            <a href="#" class="cart"><i></i></a>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="cats__wrapper">
                <ul>
                    <li><a href="#">Диваны</a></li>
                    <li><a href="#">Кресла</a></li>
                    <li><a href="#">стулья</a></li>
                    <li><a href="#">столы</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <span>Все права почти защищены</span>
    </footer>
</body>
</html>