$green_color: #6fb52a;
$border: #f2f2f2;
/* VARS*/
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.clear{
    clear: both;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: 0;
    outline: none;
    cursor: pointer;
}
.container{
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
body{
    font-family: 'Cuprum';
    letter-spacing: -.3px;
    .top_toolbar{
        background: #6fb52a;
        color: #ffffff;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1050;
        height: 50px;
        display: none;
        @media (max-width: 500px){display: block;}
        
    }
}
header{
    @media (max-width: 500px){
        margin-top: 50px;
        border-bottom: 1px solid $border;
    }
    .container{
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_contacts{
        display: flex;
        flex-direction: column;
        &__item{
            color: $green_color;
        }
    }
    .logo{
        font-size: 40px;
        font-family: 'Lobster';
        color: $green_color;
    }
    .cart{
        position: relative;
        outline: none;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: #eee;
        &:hover{
            background-color: $green_color;
            i{
                filter: invert(1);
            }
        }
        .cart_count{
            color: #000;
            display: block;
            position: absolute;
            left: 0px;
            bottom: 0px;
            min-width: 20px;
            height: 20px;
            font-size: 14px;
            background: #cccccc none repeat scroll 0% 0%;
            padding: 0 6px;
            line-height: 22px;
            text-align: center;
            transition: 0.2s ease opacity;
        }
    }
    @media (max-width: 500px){
        .header_contacts{display: none;}
        .cart{display: none;}
        .container{justify-content: center;}
    }
}
.cart_img{
    margin: 8px auto;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    display: block;
    background: url('https://api.iconify.design/ion-ios-cart-outline.svg') no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
nav{
    @media (max-width: 500px){display: none;}
    height: 60px;
    background-color: $green_color;
    padding-top: 20px;
    .container { text-align: center; }
    .cats__wrapper{
        vertical-align: 10px;
        display: inline-block;
        ul{
            color: #fff;
            text-transform: uppercase;
            display: flex;
            li{

                a{color: #fff;}
                position: relative;
                letter-spacing: .4px;
                color: #fff;
                margin: 0 20px;
                &:after{
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #fff;
                    transition: all .2s;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
    }
}
.category_active:after{
    width: 100% !important;
}
footer{
    letter-spacing: .3px;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    min-height: 50px;
    background-color: #424242;
}
main.all_collections{
    .wrapper{
        margin-top: 58px;
    }
    aside{
        float: left;
        max-width: 25%;
        height: 100px;
        width: 100%;
        @media (max-width: 650px){
            float: none;
        }
        .filter_button{
            padding: 10px 12px;
            border: 0;
            background-color: $green_color;
            display: flex;
            &:hover{
               background-color: #000;
            }
            span:nth-child(1){
                color: #fff;
                font-family: 'Cuprum';
                font-size: 16px;
            }
            span:nth-child(2){
                background: url(../img/svg-icons/down-arrow.svg) no-repeat;
                margin-left: 5px;
                margin-top: 3px;
                vertical-align: middle;
                padding-left: 14px;
                padding-top: 14px;
                filter: invert(1);
                transition: all .2s ease;
            }
        }
        .filter_active{
            span:nth-child(2){
                transform: rotate(180deg);
            }
        }
        
    }
    section{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 33px;
        @media (max-width: 650px){
            &{
                padding: 0;
            }
        }
    }
    .cat_top{
        padding-bottom: 10px;
        border-bottom: 1px solid $border;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 1.6em;
        }
        select{
            background: #fff;
            border: 1px solid $border;
            cursor: pointer;
            padding: 3px 20px 3px 5px;
            position: relative;
            width: auto;
            font-family: "Cuprum";
            font-size: 1em;
        }
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid $border;
        &__wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 50%;
        }
        &__item{
            cursor: pointer;
            width: 44%;
            height: 189px;
            border: 1px solid $border;
            margin: 20px 20px 0 0;
            a{
                display: block;
                text-align: center;
                span{
                    color: $green_color;
                    text-transform: uppercase;
                    text-decoration: underline;
                    letter-spacing: .5px;
                }
            }
            &:hover span{
                text-decoration: none;
            }
            @media (max-width: 1064px){
                width: 100%;
            }
        }
        .cat_img{
            display: block;
            margin: 0 auto;
            width: 110px;
            height: 110px;
            margin-bottom: 40px;
        }


    }
    .products{
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
        &__item{
            position: relative;
            background-color: #fff;
            margin-top: 20px;
            margin-right: 1.3%;
            padding: 20px;
            border: 1px solid $border;
            width: 32%;
            max-height: 358px;
            height: 100%;
            @media (max-width: 1000px){
                &{
                    width: 48.5%;
                }
            }
            @media (max-width: 500px){
                &{
                    width: 100%;
                }
            }
            .discount{
                display: inline-block;
                position: absolute;
                width: 40px;
                height: 24px;
                background-color: #dd3f46;
                text-align: center;
                padding: 3px;
                top: 10px;
                font-size: 16px;
                color: #fff;
                right: 10px;
            }
            .short_desc{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                font-size: 16px;
                p{
                    color: $green_color;
                    width: 100%;
                    height: 40px;
                }
                h5{
                    color: #000;
                    margin-top: 15px;
                }
            }
        }
        .product_img{
            width: 100%;
            @media (max-width: 1000px){

            }
            @media (max-width: 500px){
                width: 70%;
                transform: translate(20%, 0);
            }
        }
    }
    .pagination{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 16px;
        margin-bottom: 20px;
        .page{
            a{
                display: block;
                color: $green_color;
                padding: 6px 4px;
            }
            width: 40px;
            text-align: center; 
            margin-right: 10px;
        }
        .page_active, .page:hover{
            border: 1px solid $green_color;
        }
        .page_secondary{
            border: 1px solid $border;
        }
    }
}
main{
    min-height: 1000px;
}
.product_page{
    .product{
        margin-top: 60px;
    }
    .product_top{
        display: flex;
        @media (max-width: 750px){
            flex-direction: column;
        }
    }   
    .product_img{
        @media (max-width: 750px){
            width: 100%;
        }
        width: 40%;
        border: 1px solid #e2e2e2;
        box-shadow: #e2e2e2 0 0 5px 1px, inset #e2e2e2 0 0 3px 2px
    }
    .product-buy-info{
        @media (max-width: 750px){
            margin-left: 0px;
        }
        margin-left: 20px;
        h1{
            margin-top: 30px;
            font-size: 32px;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
            margin-bottom: 60px;
        }
        s{
            display: inline-block;  
            font-size: 24px;
            margin-bottom: 15px;

        }
        & > span{
            margin-right: 30px;
            display: inline-block;
            color: #dd3f46;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
    .counter_submit{
        margin-top: 30px;
        padding: 10px 12px;
        border: 0;
        background-color: $green_color;
        display: flex;
        color: #fff;
        font-family: 'Cuprum';
        &:hover{
            background-color: #000;
        }
        span:nth-child(1){
            margin: -1px 3px 0 0;
            width: 20px;
            height: 18px;
            filter: invert(1);
            transition: all .2s ease;
        }
        span:nth-child(2){
            color: #fff;
            font-family: 'Cuprum';
            font-size: 16px;
        }
    }
}
.cart_page{
    h1{
        font-size: 26px;
        padding: 40px 0 20px 0;
    }
    .container > div:nth-last-child(2){
        border-bottom: 1px solid #000;
    }
    .product__item{
        position: relative;
        align-items: center;
        display: flex;
        border-bottom: 1px solid $border;
        @media (max-width: 1010px){
            padding-top: 50px;
            flex-wrap: wrap;
            div:nth-child(1n){
                margin: 10px;
            }
        }
        img{
            width: 15%;
        }
        a{
            @media (max-width: 1010px){
                width: 40%;
            }
            color: $green_color;
            margin-left: 30px;
            font-size: 20px;
            margin-right: 4%;
        }
        .product_wrapper{
            @media (max-width: 1010px){
                max-width: none;
                width: 75%;
            }
            max-width: 450px;
            width: 100%;
            display: flex;
            align-content: center;
        }
        .price_wrapper{
            display: flex;
            flex-direction: column;
            margin-right: 7%;
            span{
                margin-bottom: 5px;
            }
            .price{
                font-weight: 700;
                font-size: 17px;
            }
            .old_price{
                color: #777;
                text-decoration: line-through;
                font-size: 14px;
            }
        }
        .counter_cart{
            margin-right: 2%;
        }
        .product_total{
            transform: translateY(25%);
            font-weight: 700;
            font-size: 20px;
        }
        .product_delete{
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1010px){
                position: absolute;
                top: 0;
                right: 0;
            }
            margin-left: auto;
            cursor: pointer;
            min-width: 40px;
            min-height: 40px;
            background-color: #dd3f46;
            &:hover{
                background-color: #000;
            }
            img{
                pointer-events: none;
                width: 16px;
                height: 16px;
            }
        }
    }
    .cart_summary{
        h2{
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 20px;
        }
        .sum_price{
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 20px;
            display: inline-block;
        }
        margin-top: 60px;
    }
    .sum_submit{
        cursor: pointer;
        text-transform: uppercase;
        padding: 10px 12px;
        border: 0;
        background-color: $green_color;
        width: 140px;
        height: 40px;
        color: #fff;
    }
}
.counter{
    display: flex;
    .counter__button{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #555555;
        color: #fff;
        height: 40px;
        font-size: 1.5em;
        text-align: center;
        top: 0;
        min-width: 40px;
            img{
                width: 24px;
                height: 24px;
                filter: invert(1);
            }
        }
    .counter_input{
        max-width: 100px;
        border: 0;
        background: #eeeeee;
        height: 40px;
        font-size: 1em;
        vertical-align: top;
        text-align: center;
        width: 100%;
    }
}